<div class="docs__layout__text">
		<!-- <div class="cards card--no-pad">
			<div> -->
	<article class="doc">
				{{{page.contents}}}
				{{> pagination}}
	</article>
			<!-- </div>
		</div> -->
</div>