{{#unless (inList @root.page.componentVersion.version env.disabledSearchVersions)}}
    <div id="search-input-container">
      <input type="text" id="search-input" name="search-input" placeholder="Search...">
    </div>
{{/unless}}