<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        {{> version-selector}}
        <div class="navbar-item hide-for-print">
          {{> docsearch-input}}
        </div>
        {{~#if (eq page.attributes.site-edition "enterprise")}}
        <div class="navbar-end">
          <div class="navbar-item">
            <span class="control">
              <a class="button is-primary enterprise" href="https://support.payara.fish" target="blank">Support</a>
            </span>
          </div>
          <div class="navbar-item">
            <span class="control">
              <a class="button is-primary" href="https://www.payara.fish/page/payara-enterprise-downloads/">Request Evaluation</a>
            </span>
          </div>
        </div>
        {{/if}}
        {{~#if (eq page.attributes.site-edition "community")}}
        <div class="navbar-end">
          <div class="navbar-item">
            <span class="control">
              <a class="button is-primary" href="https://www.payara.fish/products/downloads/">Download</a>
            </span>
          </div>
          <div class="navbar-item">
            <span class="control">
              <a class="button is-primary enterprise" href="https://docs.payara.fish/enterprise">Enterprise Documentation</a>
            </span>
          </div>
        </div>
        {{/if}}
        {{~#if (eq page.attributes.site-edition "cloud")}}
        <div class="navbar-end">
          <div class="navbar-item">
            <span class="control">
              <a class="button is-primary" href="https://support.payara.fish" target="blank">Premium Support</a>
            </span>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </nav>
</header>
