<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-item hide-for-print">
        {{> docsearch-input}}
      </div>
      <div class="navbar-item hide-for-print">
        Version: {{> page-versions}}
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="https://www.payara.fish/products/downloads/">Download</a>
          </span>
        </div>
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary enterprise" href="{{or site.url (or siteRootUrl siteRootPath)}}/../enterprise">Documentation for Payara Enterprise</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
