<main class="page__content">
	<div class="page__content-inner">
		{{> toolbar}}

		<div class="cards">
			<div class="docs__content">
				<div class="docs__layout" id="top">
					{{#if (eq page.layout '404')}}
						{{> article-404}}
					{{else}}
						{{> article-title}}
						{{> toc}}
						{{> article}}
					{{/if}}
				</div>
				<a href="#top" id="back-to-top" class="button back-to-top">
					<svg class="icon icon--180deg" width="1em" height="1em" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
						<use href="{{{uiRootPath}}}/ui/images/icons.svg#icon-arrow"></use>
					</svg>
					<span class="visually-hidden">Back to Top</span>
				</a>
			</div>
		</div>
	</div><!-- .page__content-inner -->
</main><!-- .page__content -->