{{#with page.navigation}}
	<blinky-scroll-hints class="sidebar__content">
		<button class="nav-menu-toggle" aria-label="Toggle expand/collapse all" style="display: none"></button>
		{{#with @root.page.componentVersion}}
			<h4><a href="{{{relativize ./url}}}">{{./title}}</a></h4>
		{{/with}}
		<nav class="menu menu--vertical">
			{{> nav-tree navigation=this ul="ul"}}
		</nav>
	</blinky-scroll-hints>
{{/with}}
