<div class="docs__layout__toc">
	<docs-toc-sticky class="js__docs__toc-sticky">
		<aside class="toc sidebar" data-title="{{{or page.attributes.toctitle 'Page Contents'}}}" data-levels="{{{or page.attributes.toclevels 2}}}">
			<div class="toc-menu docs__toc">
				<blinky-scroll-hints class="scroll">
				</blinky-scroll-hints>
			</div>
		</aside>
	</docs-toc-sticky>
</div>