<div class="docs__layout__toc">
	<docs-toc-sticky class="js__docs__toc-sticky">
		<aside class="toc sidebar" data-title="{{{or page.attributes.toctitle 'Contents'}}}" data-levels="{{{or page.attributes.toclevels 2}}}">
			<div class="toc-menu docs__toc">
				<blinky-scroll-hints class="scroll">
				</blinky-scroll-hints>
			</div>
		</aside>
	</docs-toc-sticky>

	<a href="#top" id="back-to-top" class="button back-to-top">
		<svg class="icon icon--180deg" width="1em" height="1em" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
			<use href="{{{uiRootPath}}}/ui/images/icons.svg#icon-arrow"></use>
		</svg>
		<span class="visually-hidden">Back to Top</span>
	</a>
</div>