<docs-sticky-breadcrumb class="docs__sticky-breadcrumb">
	<div class="cards card--no-pad">
		<div>
			{{> breadcrumbs}}
		</div>
		<div class="card--content-width text-align--right">
			{{> edit-this-page}}
		</div>
	</div>
</docs-sticky-breadcrumb>
<script>
	// This is to force the initial scroll position into something like the correct place, the 20 is purely arbitary.
	let new_top = document.querySelector('.docs__sticky-breadcrumb').getBoundingClientRect().bottom + 16 + 20;
	document.querySelector('.page').setAttribute('style', '--offset-scroll: '+new_top+'px;');
</script>