<!DOCTYPE html>
<html lang="en" class="no-js" data-ui-path="{{{uiRootPath}}}">
	<head>
		{{> head defaultPageTitle='Page Not Found'}}
	</head>
	<body class="status-404 page page--sticky-header theme--light article
		{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}
		{{#if (eq page.attributes.site-edition "enterprise")}}
			docs__enterprise
		{{else if (eq page.attributes.site-edition "community")}}
			docs__community
		{{else}}
			docs__cloud
		{{/if}}
	">
		{{> header}}
		{{> body}}
		{{> footer}}
	</body>
</html>
